.Main-Paper-Loading {
  width: 23rem;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 0.6rem;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;

  &-Image {
    width: 100%;
    padding: 10rem 8rem;
    background-color: #efefef;
    border-radius: 0.8rem;
    margin-bottom: 0.6rem;
  }

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-Content {
      padding: 0.4rem;

      &-Date {
        width: 14rem;
        height: 1rem;
        background-color: #efefef;
        border-radius: 0.3rem;
        margin-bottom: 0.8rem;
      }

      &-Title {
        width: 17rem;
        height: 1.4rem;
        background-color: #efefef;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
      }
    }

    &-Bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 0.4rem 0.2rem 0.4rem;

      &-Profile {
        display: flex;
        align-items: center;

        &-Avatar {
          width: 2rem;
          height: 2rem;
          background-color: #efefef;
          border-radius: 50%;
          margin-right: 0.6rem;
        }

        &-Name {
          width: 8rem;
          height: 1rem;
          background-color: #efefef;
          border-radius: 0.3rem;
        }
      }
    }
  }
}
