/* your css code */
.HeaderProfile {
  right: 0%;
  top: 3rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: white;
  width: 10rem;
  height: auto;
  position: absolute;

  &-div {
    padding: 0.5rem;

    &:hover {
      background: #f5f5f5;
    }
  }
}
