/* your css code */
.EmailAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  &-Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20rem;
    &-text {
      width: 19rem;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &-input {
      margin-top: 1rem;
    }
  }
  &-button {
    position: absolute;
    bottom: 2rem;
  }
}
