@import "./font.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: NotoSansKR;
  min-height: 100vh;
  margin: 0;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    min-height: 0;
  }
}

.Input-Style {
  margin: 0 0.5rem;
  border: none;
  height: 2rem;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  transition: all ease-in-out 0.3s 0s;
  border-bottom: 1.5px solid rgb(202, 202, 202);
  width: 10rem;
  &::placeholder {
    font-size: 0.9rem;
  }
  &:focus {
    outline: none;
  }
  &:focus,
  &:valid {
    border-color: black;
  }
}
