/* your css code */
.Profile {
  &-Content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    &-top {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 27rem;

      &-Logo {
        width: 13rem;
        height: 13rem;
        border-radius: 2rem;
      }
      &-folder {
        width: 2rem;
        height: auto;
      }
      &-input {
        display: none;
      }
      &-middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 9rem;
        &-Text {
          text-align: center;
          &-input {
            width: 70%;
            height: 90%;
            outline: none;
            padding-left: 10px;
            font-size: 1.3em;
            font-weight: bold;
            border: 1.5px solid black;
            border-radius: 4px;
            transition: 0.3s;
            &:focus {
              border: 1.5px solid #6577f8;
              color: #3c50e0;
              outline: none;
              border-radius: 8px;
            }
          }
          &-Name {
            font-size: 2.1rem;
            font-weight: bold;
          }
          &-Email {
            font-size: 1.1rem;
            color: #94959e;
          }
        }
      }
    }

    &-Input {
      max-width: 45rem;
      width: 80%;
      height: 6rem;
      background-color: #f5f5f5;
      margin-bottom: 2rem;
      border-radius: 1rem;
    }
  }
}
