.Get-Paper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  p {
    margin: 0 !important;
  }

  &-Container {
    max-width: 55rem;
    width: 100%;

    &-Link {
      cursor: pointer;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.3rem;
      padding: 0 0.7rem;
      background-color: rgb(206, 206, 206);
      margin-right: 0.8rem;
      span {
        display: flex;
        font-weight: 700;
        color: white;
        margin-right: 0.5rem;
      }
    }

    img {
      max-width: 10rem;
      position: absolute;
    }

    &-Header {
      display: flex;
      align-items: center;

      &-Before {
        height: 1.8rem;
        margin-right: 1rem;
        cursor: pointer;
      }

      &-Title {
        display: flex;
        flex-direction: column;

        &-Name {
          font-size: 1.4rem;
          font-weight: 700;
          color: #0b0f2d;
          margin-bottom: 0.2rem;
        }

        &-Status {
          font-size: 0.9rem;
          font-weight: 500;
          color: #7c7d85;
        }
      }
    }

    &-Content {
      display: flex;
      justify-content: space-between;
      &-Canvas {
        width: 100%;
        max-width: 35rem;
        height: 40rem;
        background-color: #fcfcfc;
        border: 1px solid #dcdcdc;
        border-radius: 0.8rem;
        margin-top: 2rem;
        position: relative;
        display: block;
        overflow: hidden;
        &-Print {
          height: auto !important;
        }

        &-Mapped {
          position: absolute;
          &-Select {
            z-index: 100;
          }
        }
      }

      &-List {
        width: 100%;
        max-width: 15rem;
        margin-top: 1.5rem;

        &-Title {
          width: 100%;
          height: 3rem;
          padding-left: 0.2rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #a3a3a7;
        }

        &-box {
          height: 35rem;
          overflow-y: auto;
        }

        &-Member {
          width: 100%;
          height: 2rem;
          padding: 0 0.8rem;
          margin-bottom: 0.4rem;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;

          &-More {
            display: none;
          }

          &-Option {
            position: absolute;
            width: 6rem;
            height: 4rem;
            background-color: #3c50e0;
            right: 0rem;
            bottom: -4rem;
            z-index: 10;
          }
        }

        &-Member:hover {
          background-color: #e5e9fe;
        }

        &-Member:hover > &-Member-More {
          display: block;
        }
      }
    }

    &-Bottom {
      max-width: 35rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      &-Button {
        display: flex;
        align-items: center;

        &-Share {
          cursor: pointer;
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3rem;
          background-color: #e5e8ff;
          transition: background-color 0.2s;

          &:hover {
            background-color: #b5beff;
          }
        }
      }

      &-Like {
        display: flex;
        align-items: center;
        padding-right: 0.4rem;

        &-Icon {
          width: 1.4rem;
          margin-right: 0.4rem;
          cursor: pointer;

          &:hover {
            & path {
              fill: #3c50e0;
            }
          }

          &-Clicked {
            & path {
              fill: #3c50e0;
            }
          }
        }

        &-Text {
          font-size: 1.5rem;
          color: #3c50e0;
          margin: 0;
        }
      }
    }
  }
}
