@import "../../../util/lib.scss";

.Main-Paper-Item {
  width: 23rem;
  // border: 1px #dcdcdc solid;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  padding: 0.6rem;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;
  transition: ease 0.2s;

  &:hover {
    transform: scale(1.05, 1.05);
  }

  &-Image {
    width: 100%;
    padding: 10rem 8rem;
    // border: 0.5px #dcdcdc solid;
    background-color: #f3f3f3;
    border-radius: 0.8rem;
    margin-bottom: 0.4rem;
  }
  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 35%;

    &-Content {
      padding: 0.4rem;

      &-Date {
        color: #3c50e0;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
      }
      &-Title {
        color: #0b0f2d;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        @include ellipsis(1, 1.4rem);
      }
    }

    &-Bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px #f1f1f1 solid;
      padding: 0.8rem 0.4rem 0.2rem 0.4rem;

      &-Profile {
        display: flex;
        align-items: center;

        &-Avatar {
          width: 2rem;
          height: 2rem;
          background-color: gray;
          border-radius: 50%;
          margin-right: 0.6rem;
        }
        &-Name {
          color: #0b0f2d;
          font-weight: 600;

          & > span {
            color: #828282;
          }
        }
      }

      &-Like {
        display: flex;
        align-items: center;
        margin-right: 0.6rem;

        &-Icon {
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
        }
        &-Count {
          color: #3c50e0;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1216px) {
  .Main-Paper-Item {
    width: 47%;

    &-Image {
      padding: 16rem 8rem;
    }
  }
}

@media screen and (max-width: 1084px) {
  .Main-Paper-Item {
    width: 100%;

    &-Image {
      padding: 24rem 8rem;
    }
  }
}
