.Header {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  &-Hide {
    transform: translateY(-7rem);
  }

  &-Shadow {
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.1);
  }

  &-Container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    &-Content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      &-Logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-Icon {
          width: 1.8rem;
          height: 1.8rem;
          margin-right: 0.2rem;
        }

        &-Title {
          height: 1.6rem;
        }
      }

      &-Account {
        display: flex;
        align-items: center;

        &-Create {
          padding: 0.4rem 1.1rem;
          background-color: transparent;
          color: #3c50e0;
          font-size: 1rem;
          font-weight: 700;
          outline: none;
          border: 2px #3c50e0 solid;
          border-radius: 3rem;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            color: #ffffff;
            background-color: #3c50e0;
          }
        }

        &-Login {
          padding: 0.4rem 1.1rem;
          background-color: #3c50e0;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 700;
          outline: none;
          border: none;
          border-radius: 3rem;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #6577f8;
          }
        }

        &-Profile {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          margin-left: 1rem;
        }
      }
    }

    &-Buttons {
      display: flex;

      &-Button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
        cursor: pointer;

        &-Name {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.4rem;
          transition: color 0.2s;
          color: #cfcfcf;

          &-Clicked {
            font-weight: 700;
            color: #3c50e0;
          }
        }

        &-Line {
          transition: all 0.2s;

          &-Clicked {
            width: 100%;
            height: 0.2rem;
            background-color: #3c50e0;
          }
        }
      }
    }
  }
}
