.position {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-weight: 600;

  &-box {
    max-width: 35rem;
    width: 100%;

    &-title {
      font-size: 1.8rem;
      margin-top: 1rem;
    }

    &-content {
      width: 100%;
      height: 40rem;
      background-color: #fcfcfc;
      border: 1px solid #dcdcdc;
      border-radius: 0.8rem;
      margin-top: 2rem;
      position: relative;
      overflow: hidden;

      &-drag {
        display: inline-flex;
        padding: 0.2rem;
        border: 2px dashed #242424;
        cursor: move;
      }

      img {
        width: 10rem;
        height: 8rem;
        position: absolute;
      }

      &-map {
        position: absolute;
      }
    }

    &-btnarea {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin-top: 4rem;
    }
  }
}
