.Register {
  width: 100%;
  height: 100vh;

  &-Title {
    & > p {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  &-TextFields {
    display: flex;
    flex-direction: column;

    &-TextField {
      margin: 1rem 0;
    }
  }

  &-Button {
    &-Text {
      display: flex;
    }
  }
}
