.Register {
  &-Title {
    margin-bottom: 3rem;
    & > p {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  &-TextFields {
    display: flex;
    flex-direction: column;

    &-TextField {
      margin: 1.3rem 0;
    }
  }

  &-Button {
    width: 100%;

    &-Text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.6rem;

      & > p {
        font-size: 0.6rem;
        font-weight: 500;
      }

      &-Comment {
        color: #777777;
        margin-right: 0.2rem;
      }

      &-Login {
        color: #3c50e0;
        cursor: pointer;
        font-size: 0.6rem;
        font-weight: 500;
      }
    }
  }
}
