.Login {
  &-Title {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;

    &-Id {
      display: flex;
      align-items: center;
      height: auto;
    }
  }
  &-Image {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    img {
      width: 60%;
    }
  }
  &-Button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-Text {
      margin-top: 0.3rem;
      &-Register {
        margin-left: 0.5rem;
        color: blue;
      }
    }
  }
}
