.create-paper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-weight: 600;

  &-box {
    width: 100%;
    max-width: 35rem;

    &-title {
      font-size: 1.8rem;
      margin-top: 2rem;
    }

    &-content {
      &-name {
        border: none;
        width: 25rem;
        height: 3rem;
        border-bottom: 1px solid #cccccc;
        padding-left: 0.2rem;
        font-size: 1.4rem;
        margin-top: 3rem;
        font-family: "NotoSansKR";
        font-weight: 600;
        &::placeholder {
          color: #b8b8b8;
          font-weight: 600;
        }
        &:focus {
          outline: none;
        }
      }

      &-info {
        border: none;
        width: 100%;
        height: 3rem;
        border-bottom: 1px solid #cccccc;
        padding-left: 0.2rem;
        font-size: 1.4rem;
        margin-top: 1rem;
        font-family: "NotoSansKR";
        font-weight: 600;
        &::placeholder {
          color: #b8b8b8;
          font-weight: 600;
        }
        &:focus {
          outline: none;
        }
      }

      &-range {
        width: 100%;
        margin-top: 2rem;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.4rem;
        }

        &-area {
          width: 100%;
          display: flex;

          &-select {
            width: 14rem;
            height: 3rem;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            margin-right: 2rem;
            color: #707070;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            input[type="radio"] {
              display: none;
            }

            &-radio {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              border: 3px solid #5669f3;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            input[type="radio"]:checked ~ &-radio {
              &::after {
                content: "";
                width: 0.74rem;
                height: 0.74rem;
                border-radius: 50%;
                background-color: #5669f3;
              }
            }
          }
        }
      }

      &-date {
        width: 100%;
        margin-top: 2rem;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.4rem;
        }

        &-area {
          width: 100%;
          display: flex;

          &-input {
            width: 10rem;
            height: 3rem;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            color: #707070;
            padding: 0 1rem;
            &:focus {
              outline: none;
            }
          }

          &-wave {
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: #707070;
          }
        }
      }

      &-backcolor {
        width: 100%;
        margin-top: 2rem;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
        }

        &-area {
          width: 100%;
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;

          &-color {
            cursor: pointer;
            width: 5rem;
            height: 5rem;
            box-shadow: 0 0 10px 2px #00000010;
            border-radius: 4px;
          }
        }
      }
    }

    &-btnarea {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 4rem;
    }
  }
}
