.create-paper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-weight: 600;

  &-box {
    width: 100%;
    max-width: 35rem;

    &-title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 1.4rem;
    }

    &-content {
      &-name {
        border: none;
        width: 25rem;
        height: 3rem;
        border-bottom: 1px solid #cccccc;
        padding-left: 0.2rem;
        font-size: 1.4rem;
        margin-top: 2rem;
        font-family: "NotoSansKR";
        font-weight: 600;
        &::placeholder {
          color: #b8b8b8;
          font-weight: 600;
        }
        &:focus {
          outline: none;
        }
      }

      &-info {
        border: none;
        width: 100%;
        height: 3rem;
        border-bottom: 1px solid #cccccc;
        padding-left: 0.2rem;
        font-size: 1.4rem;
        margin-top: 1rem;
        font-family: "NotoSansKR";
        font-weight: 600;
        &::placeholder {
          color: #b8b8b8;
          font-weight: 600;
        }
        &:focus {
          outline: none;
        }
      }

      &-range {
        width: 100%;
        margin-top: 2rem;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.4rem;
        }

        &-area {
          width: 100%;
          display: flex;

          &-select {
            width: 14rem;
            height: 3rem;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            margin-right: 2rem;
            color: #707070;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            input[type="radio"] {
              display: none;
            }

            &-radio {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              border: 3px solid #5669f3;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
            input[type="radio"]:checked ~ &-radio {
              &::after {
                content: "";
                width: 0.74rem;
                height: 0.74rem;
                border-radius: 50%;
                background-color: #5669f3;
              }
            }
          }
        }
      }

      &-date {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.2rem;
        }

        &-subtext {
          padding-left: 0.2rem;
          color: gray;
          margin-bottom: 1rem;
          font-size: 0.9rem;
        }

        &-area {
          width: 100%;
          display: flex;

          &-input {
            width: 13rem;
            height: 3rem;
            border-radius: 4px;
            border: 1px solid #dcdcdc;
            color: #707070;
            padding: 0 1rem;
            &:focus {
              outline: none;
            }
          }

          &-wave {
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: #707070;
          }
        }
      }

      &-backcolor {
        width: 100%;
        margin-top: 2rem;

        &-text {
          color: #0b0f2d;
          padding-left: 0.2rem;
          font-size: 1.2rem;
        }

        &-area {
          width: 100%;
          margin-top: 1rem;
          display: flex;

          &-color {
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            margin-right: 0.8rem;
            box-shadow: 0 0 10px 2px #00000010;
            border-radius: 4px;
          }
        }
      }

      &-thumbnail {
        margin-top: 2rem;
        &-content {
          margin-top: 1rem;
          &-preview {
            max-width: 15rem;
            border: 1px solid #707070;
            border-radius: 3px;
            position: relative;
            &-no {
              width: 10rem;
              height: 13rem;
            }
          }
          &-upload {
            position: absolute;
            right: -10px;
            bottom: -10px;
            label {
              display: inline-block;
              color: #999;
              font-size: inherit;
              line-height: normal;
              vertical-align: middle;
              cursor: pointer;
              border-radius: 50%;
              padding: 10px;
              background-color: #fff;
              border: 1px solid rgb(150, 150, 150);
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 23px;
            }
            input[type="file"] {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              border: 0;
            }
          }
        }
      }
    }

    &-btnarea {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 4rem 0 2rem;
    }
  }
}
