.Search-Paper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  &-Container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-Bar {
      width: 75%;
      height: 3.6rem;
      border: 0.1rem #b8b8b8 solid;
      padding-left: 0.8rem;
      font-size: 1.2rem;
      margin-top: 3rem;
      font-family: "NotoSansKR";
      outline: none;
      border-radius: 0.4rem;
      font-weight: 600;

      &::placeholder {
        color: #b8b8b8;
        font-weight: 600;
      }
    }

    &-Filter {
      width: 75%;
      display: flex;
      align-items: center;
      padding: 0.8rem 0.6rem;
      margin-bottom: 1.4rem;

      &-List {
        display: flex;
        align-items: center;
        width: auto;

        &-Item {
          cursor: pointer;
          padding: 0.3rem 0.82rem;
          background-color: #dcdcdc;
          border-radius: 0.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.6rem;
          transition: background-color 0.2s;

          &-Clicked {
            background-color: #3c50e0;
          }

          & > p {
            font-size: 0.8rem;
            color: #ffffff;
          }
        }
      }
    }

    &-Result {
      font-size: 1.2rem;
      font-weight: 500;
      color: #0b0f2d;
      width: 100%;
      padding: 0.5rem;
    }

    &-List {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
