/* your css code */

.Auth {
  width: 100%;
  height: 100%;
  display: flex;

  &-Picture {
    width: 26rem;
    height: 100%;
    display: flex;
    background-color: #f8f9fe;
    justify-content: center;
    align-items: center;

    & > img {
      width: 15rem;
    }
  }
}
